/*.sqlite
/sage/*.json
*.sdf
*.out
*.err
__pycache__/
status
/triage/target/
*triage.json
*.bz2
/datasets/cache/industry.json
/logs
current/main.aux
current/main.log
current/main.nav
current/main.snm
current/main.toc
current/main.vrb
/datasets/old/
/filters/tm.in.dat
/filters/ultra-tm.json
/filters/_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
/_site/
